
@import 'bootstrap/dist/css/bootstrap.min.css';
:root{
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-febd69: #febd69;
  --color-232f3e: #232f3e;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
  color: white;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-30 {
  gap: 30px;
}

.gap-50 {
  gap: 50px;
}